@{
    ViewBag.Title = "Home Page";
}
<div class="container-options">
    <div class="message">@ViewBag.Message</div>
</div>

<form action="/Home/Index" method="post" class="container-options">
    <div class="form_label">
        <div id="select" class="select-list">
            @foreach (var option in Enum.GetValues(typeof(sobes_app.Models.Options)))
            {
                if (((int)option) != 0)
                {
                    if ((((int)ViewBag.Options.Get()) & ((int)option)) == ((int)option))
                    {
                        <div class="select-field"><input type="checkbox" name="@option" class="select-field-input" name="vegetables"  checked><label class="select-field-label">@option</label></div>
                    }
                    else
                    {
                        <div class="select-field"><input type="checkbox" name="@option" class="select-field-input" name="vegetables" ><label class="select-field-label">@option</label></div>
                    }
                }
            }
        </div>
    </div>
    <button id="submit" class="button-submit" type="submit">Submit</button>
</form>